# Dependencies
node_modules/
.pnpm-store/

# Next.js build outputs
.next/
out/

# Expo / React Native
.expo/
dist/
web-build/

# Drizzle / DB
drizzle/*.sql

# Environment variables & secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
*.pem
.vscode/
.idea/

# Turbo
.turbo/

# Local agents & scratch
.superpowers/
.freebuff/


#nx
.nx/cache
.nx/workspace-data
.nx/migrate-runscompose.override.yaml
